@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/pg1.css" rel="stylesheet" />

<section id="hero">
    <div class="container">
        <h2>Bienvenido a nuestra biblioteca</h2>
        <img src="~/img/elena-poniatowska_foto1.jpg" width="100" height="100" alt=""><p><strong>Elena-Poniatowska</strong></p>
        <p>"los libros son parte de la vida interior de cada ser humano.Tener un libro al lado de la cama es tener un amigo,unonsejo y un apoyo seguro."</p>
        <p>
            "Si ustedes tienen un libro jamas les va a traicionar, piensen que en toda su vida van a caminar de la mano de un gran amigo y es un libro,los abraza a ustedes
            con miles de paginas, ramas que son las que nos ofrecen los libros".
        </p>

    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
