@model Biblioteca_uts.Models.UsariosModels

@{
    ViewData["Title"] = "Iniciar Sesion";
}



<form class="" asp-action="Login" asp-controller="LoginR" method="post">

<div class="form-floating mb-3">

<input type="text" class="form-control rounded-3" asp-for="Usuario" placeholder="Usuario o correo" name="Usuario" required>

<label for="floating Input">Identificador</label>

</div>

<div class="form-floating mb-3">

        <input type="password" class="form-control rounded-3" asp-for="Contraseña" id="floatingPassword" placeholder="Password" name="Contraseña" required>

<label for="floatingPassword">Clave</label>

</div>

<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Iniciar Sesion</button>

<div>
        <a class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" asp-area="" asp-controller="LoginR" asp-action="Registro">Registrar</a>

</div>
@if (ViewData["Mensaje"]!=null)
{ 
      <div class="alert alert-danger" role="alert">

      @ViewData["Mensaje"]

      </div>
}
</form>