@model Biblioteca_uts.Models.UsariosModels

@{
    ViewData["Title"] = "Iniciar Sesion";
}



<form class="" asp-action="Login" asp-controller="LoginR" method="post">

<div class="form-floating mb-3">

<input type="number" class="form-control rounded-3" id="floatingInput" placeholder="Identificador" name="Identificador" required>

<label for="floating Input">Identificador</label>

</div>

<div class="form-floating mb-3">

<input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" name="clave" required>

<label for="floatingPassword">Clave</label>

</div>

<button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Iniciar Sesion</button>

@if (ViewData["Mensaje"]!=null)
{ 
      <div class="alert alert-danger" role="alert">

      @ViewData["Mensaje"]

      </div>
}
</form>